.sidebar-nav {
	position: fixed;
	top: 0px;
	left: 0px;
	height:100%;
	width: inherit;
	background-color: #eeeeee;
	list-style-type: none;
	padding:10px;
}

.sidebar-nav li {
	border-bottom: 1px solid #dddddd;
}